<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src='https://code.jquery.com/jquery-1.7.2.min.js' defer></script>
    <script src="/javascripts/common.js" defer></script>
    <script src="/javascripts/index.js" defer></script>
  </head>
  <body>
    <div class="responsive-container">
      <h1>Tic-Tac-Toe Online</h1>
    </div>
  </body>
</html>
