.container {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-areas:
    "header header header"
    "inRoom game ."
    ". newGame leave";
}

.leave {
  grid-area: leave;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
}

.leaveRoom {
  padding: 1rem;
  background-color: var(--alert);
  color: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
}

.header {
  margin: 2rem;
  padding: 1.5rem 2rem;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  border-radius: 1rem;
  color: var(--black);
  font-weight: 700;
}

.scoreboard {
  grid-area: scoreboard;
  margin-bottom: 2rem;
}

.game {
  grid-area: game;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inRoom {
  grid-area: inRoom;
  padding: 2rem;
}

.newGame {
  grid-area: newGame;
  margin: 2rem;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem;
}

.playerRow {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-column-gap: 2rem;
  grid-row-end: 0.5rem;
}

.playerCell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--l-font);
}

.playerName {
  justify-content: start;
}
