.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.header {
  padding: 2rem;
  background-color: var(--primary);
  text-align: center;
}

.scoreboard {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
}

.back {
  background-color: var(--tertiary);
  border-radius: 0.5rem;
  font-size: 2rem;
}
