:root {
  --primary: #56e39f;
  --secondary: #465775;
  --tertiary: #59c9a5;
  --alert: #ef6f6c;
  --dark: #5b6c5d;
  --black: #333;
  --l-font: 1.2rem;
  --xl-font: 2rem;
  --xxl-font: 3rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--secondary);
}
