.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: white;
}

.hover {
  background-color: var(--tertiary);
  cursor: pointer;
}

.last {
  background-color: var(--primary);
  color: var(--black);
}

.win {
  color: var(--alert);
}
