.container {
  width: min(50vw, 50vh);
  height: min(50vw, 50vh);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5rem;
  background-color: black;
}
