.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leaveRoom {
  padding: 1rem;
  background-color: var(--alert);
  color: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 2rem;
}
